<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap.css">
    <script src="lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="lib/angular.js"></script>
    <!-- <script src="lib/angular-route.js"></script> -->

    <!-- khu vực viết code logic JS -->
    <script>
        var app = angular.module('myApp', [])

        //Khởi tạo controller
        app.controller('bindingColler', function ($scope) {
            //Khu vực viết code logic 
            console.log("Xin chào")


            //Khai báo biến demo  data binding
            $scope.tenBien = "Gia tri biến";
            $scope.maMon = "WEB2017";
            $scope.namSinh = 2004;
            $scope.danhSachMaSV = ['ph1012', 'ph111'];

            //kHAI BAO BIEN DEMO property binding
            $scope.cauNoiYeuThich = 'k LAM DOI CO AN';
            $scope.imgURL = 'img/banner_01.jpg';

            //Khai bao hàm demo event binding
            $scope.tenHam = function () { };
            $scope.onClickDKY = function () {
                alert("DANG KY THANH CONG");
            }

            //Khai bao bien demo tow-way binding 
            $scope.hoTen = 'Violet Evergarden';

            //Khai bao so luong san pham
            $scope.soLuongSP = 0;
        })

    </script>

</head>

<body ng-app="myApp">
    // Khởi tạo ng-app có tên myApp

    <div class="container-fluid" ng-controller="bindingColler">
        <h1>Binding xin chào</h1>
        <h3></h3>
        <p>Dùng để hiển thị giá trị của biến ra html</p>
        <p>Như chúng ta đã học , JS có 3 cách khai báo biến </p>
        <p>var , let , cost</p>
        <p>AngularJS gioi thieu thêm 1 kiểu khai báo biến nữa gọi là $scope</p>
        <p>Dùng để hiển thị biến ra html nhanh gọn</p>

        <p>{{ tenBien }}</p>
        <p>Ma Mon :{{maMon}}</p>
        <p>Nam sinh : {{namSinh}}</p>
        <p>Danh sach : {{ danhSachMaSV }}</p>
        <ul>
            <li ng-repeat="item in danhSachMaSV">
                {{ item }}
            </li>
        </ul>
        <hr>
        <h3>Gioi thiệu property binding</h3>
        <p>Dùng để in ra giá trị biến r propery của 1 thẻ html</p>
        <h6>In ra giá trị biến ra property của thẻ input</h6>
        <input type="text" class="form-control" value="{{cauNoiYeuThich}}">
        <input type="text" class="form-control" ng-value="cauNoiYeuThich">
        <hr>
        <h6>In ra gia tri bien ra property src của thẻ img</h6>
        <img src="img/banner_01.jpg" style="height: 60px;">
        <hr>
        <img ng-src="{{imgURL}}" style="height: 60px;">
        <hr>
        <h3>Gioi thiệu event binding</h3>
        <div>
            <h6>Dùng để bắt sự kiện tương tác của người dùng (click, change)</h6>


            <button class="btn btn-primary" ng-click="onClickDKY()">Đăng ký</button>
        </div>

        <hr>
        <h3>Gioi thieu two-way data binding</h3>
        <div>
            <p>Tự động đồng bộ dữ liệu 2 chiều giữa code js và html </p>
            <p>Tức là khi html thay đổi giá trị thì biến trong code js tự động nhận giá trị mới </p>
            <p>Ngược lại khi code js thay đổi giá trị biến, html tự động hiển thị giá trị mới</p>

            <span class="form-label">Moi nhap ho ten</span>
            <input type="text" class="form-control" ng-model="hoTen">
            <p>Họ tên bạn là :{{hoTen}} </p>
        </div>


        <hr>
        <h3>Gioi thieu một vài tính năng cho hiển thị</h3>
        <h6>ng-show | ng-hide </h6>
        <span class=" badge bg-success" ng-show="soLuongSP > 0">Còn hàng</span>
        <span class="badge bg-warning" ng-show="soLuongSP <= 0">Hết hàng</span>
        <hr>
        <h6>ng-if </h6>
        <span class="badge bg-success" ng-if="soLuongSP > 0">Còn hàng</span>
        <span class="badge bg-warning" ng-if="soLuongSP <= 0">Hết hàng</span>
    </div>

</body>

</html>